<h1>Sign Up</h1>

<%= render "./log_in", :user => @user, :action => :sign_up %>

<form action="<%= new_session_url %>" method="get" >

  <div class="submit">
  <input type="submit" value="Sign In">
  </div>

</form>