/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*----- RESET AND GENERAL STYLING -----*/

html, body, nav, a, header, ul, li, h1, div, label {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: sans-serif;
  background-color: #ffffff;
}

h2 {
  display: block;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input[type="submit"] {

}

.group:after {
  content: "";
  clear: both;
  display: block;
}

/*----- NAVBAR STYLING ------*/

h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.navbar {
  width: 100%;
  background-color: #090;
}

.navbar > nav {
  margin: auto;
  width: 100%;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.navbar-logo {
  float: left;
  padding: 10px 20px;
}

.navbar-list {
  float: right;
}

/*need to push down everything but the button, but how???*/
.navbar-list > li {
  float: left;
  padding: 10px 15px;
}

.navbar-list > li > a {
  color: white;
  display: block;
/*  padding: 15px 20px;*/
}

.navbar-list:last-child {

}

#sign-out-button {
  padding: 5px;
  position: relative;
  background: orange;
  display: inline-block;
  color: #fff;
  box-shadow: 0 3px 0 0 #cc9;
  border-radius: 3px;
}

#sign-out-button:hover {
  background: #f80;
}

#sign-out-button:active {
  top: 3px;
  box-shadow: none;
  background: #f90;
}

/*.submit > input {
  position: relative;
  display: inline-block;
  background: #0c0;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 3px 0 0 #070;
}*/

/*----- OVERVIEW PAGE STYLING -----*/

.main-content {
  margin: auto;
  width: 700px;
  background-color: #eee;
}

.accounts {
  float: left;
  padding: 20px;
}

.right-column {
  float: left;
}

.budgets {
  padding: 20px;
/*  float: left;*/
}

.goals {
  padding: 20px;
/*  float: left;*/
}

/*----- BUDGET PAGE STYLING -----*/

/*----- GOAL PAGE STYLING -----*/















