// Place all the styles related to the Budgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.budget-main-content {
  width: 600px;
  background-color: #eee;
  margin: auto;
}

.budget-main-content > ul {

}

.budget {

}

.budget > h3 {

}

.budget > p {

}