// Place all the styles related to the Budgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.budget-main-content {
  width: 600px;
  background-color: #eee;
  margin: auto;
  padding: 20px;
}

.budget-main-content > ul {

}

.budget {
  background-color: #ddd;
  border-radius: 3px;
  margin: 20px 0;
}

.budget > h3 {
  padding: 10px;
}

.budget-info > p:first-child {
  float: left;
  padding-left: 50px;
}

.budget-info > p:last-child {
  float: right;
  padding-right: 50px;
}

.budget-meter {
  -webkit-appearance: none;
  width: 500px;
  margin: 0 50px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.budget-meter::-webkit-meter-bar {
  background: none;
  background-color: #eee;
  box-shadow: 0 5px 5px -5px #333 inset;
}

.budget .button {
  padding: 10px 0 13px 50px;
}