// Place all the styles related to the Goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.goal-main-content{
  background-color: #eee;
  margin: auto;
  width: 600px;
}

.goal-main-content > ul > li {

}

.goal {
  margin: auto;
}

.goal-list {

}

.goal-list > ul > li {

}

.goal-buttons {

}

.goal-buttons > button {

}