// Place all the styles related to the Goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.goal-main-content{
  background-color: #eee;
  margin: auto;
  width: 600px;
  border-radius: 3px;
  padding: 20px;
}

//this is the list el that contains a full goal
.goal-main-content > ul > li {

}

.goal {
  margin: auto;
  margin: 20px 0;
  background-color: #ddd;
}

.goal > h3 {
  padding: 10px;
}

.goal-meter {
  -webkit-appearance: none;
  width: 500px;
  margin: 0 50px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.goal-meter::-webkit-meter-bar {
  background: none;
  background-color: #eee;
  box-shadow: 0 5px 5px -5px #333 inset;
}

.goal .button {
  padding: 10px 0px 13px 20px;
}

.goal-attr-list {
  border-radius: 3px;
  padding: 20px;
}

.goal-attr-list li {
  background-color: #9d9;
  padding: 5px 10px;
  border-bottom: 1px solid #000;
}

.goal-attr-list li:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.goal-attr-list li:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: none;
}

.goal-attr-list > ul > li:after {
  content: "";
  clear: both;
  display: block;
}

.goal-attr-key {
  float: left;
}

.goal-attr-val {
  float: right;
}

.goal-buttons {

}

.goal-buttons > button {

}