// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
  position: relative;
  width: 300px;
  margin: 50px auto;
  background-color: #ccc;
}

.login > h1 {
  padding-left: 22px;
  color: black;
}

.login-form > .input > input{
  display: block;
  width: 220px;
}

.alt-form > .submit > input {
  padding-left: 40px;
}

.login-form {
  padding: 5px 40px;
}