// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
  position: relative;
  width: 300px;
  margin: 50px auto;
  padding: 20px 0;
  background-color: #ccc;
  border-radius: 3px;
}

.login > h1 {
  padding-left: 22px;
  color: black;
}

.login-form {
  padding: 5px 40px;
}

.login-form > .input > input {
  padding: 5px;
  display: block;
  width: 218px;
}

.alt-form {
  padding-left: 40px;
}

.alt-form > .submit {
  padding-top: 0px;
}