// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.transaction-main-content {
  width: 800px;
  margin: auto;
}

.transactions {
  width: 500px;
  float: left;
}

.transactions-form {
  float: left;
}

.transactions-table {
  width: 500px;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.transactions-table > thead {
  text-align: left;
}

.transactions-table > thead > th {
  text-align: left;
  border: 1px solid #ccc;
}

.transactions-table > tbody {

}

.transactions-table > tbody > tr:nth-child(even) {
  background-color: #eee;
}

.transactions-table > tbody > tr > td {
  border: 1px solid #ccc;
}