// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//probably should fix this so that the width is 600 to match other pages
.transaction-main-content {
  width: 600px;
  margin: auto;
//  background-color: #900;
}

.transactions {
  width: 500px;
  padding: 0 50px;
//  float: left;
}

//.transactions-header {
//  width: 500px;
//}
//
//.transactions-header > h2 {
//  float: left;
//}
//
//.transactions-header button {
//  float: left;
//}

.transactions-form {
//  float: left;
}

.transactions-table {
  width: 500px;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.transactions-table > thead {
  text-align: left;
}

.transactions-table > thead > th {
  text-align: left;
  border: 1px solid #ccc;
}

.transactions-table > tbody {

}

.transactions-table > tbody > tr:nth-child(even) {
  background-color: #eee;
}

.transactions-table > tbody > tr > td {
  border: 1px solid #ccc;
}

.amount-cell {
  text-align: right;
}