<% action_url = (action == :sign_up) ? users_url : session_url %>
<% button_name = (action == :sign_up) ? "Sign Up" : "Log In" %>
<% email = (@user != nil) ? @user.email : "" %>
<form action="<%= action_url %>" method="post">

  <%= auth_token %>

  <label for="uyser-email">Email</label>
  <input type="text" name="user[email]" id="user-email" value="<%= email %>">

  <label for="user-password">Password</label>
  <input type="password" name="user[password]" id="user-password">

  <button>
    <%= button_name %>
  </button>

</form>